<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Page Title</title>
</head>
<body>
<h2>Databinding</h2>
<b th:text="${message}"></b>
<form th:object="${student}" action="/student/save" method="post">
    Email Address:
    <input th:field="*{id}"><br>
    Fullname:
    <input th:field="*{fullname}"><br>
    Gender:
    <input th:field="*{gender}" type="radio" value="true">Male
    <input th:field="*{gender}" type="radio" value="false">Female<br>
    Birthday:
    <input th:field="*{birthday}"><br>
    Photo:
    <input th:field="*{photo}"><br>
    Average Mark:
    <input th:field="*{mark}"></i>
    <hr>
    <button>Save</button>
</form>
</body>

</html>